ion-header{
    --ion-toolbar-background:#fff;
}
.small-text{
    font-size: 14px;
}.input-qty{
    width: 40px;
    border-radius: 10px;
    padding: 2px 7px;
}.faint-color{
    color:rgb(158, 158, 158);
}
.footer{
    --background: #FDD07A;
}